@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');

/* media query for pc or desktop starts from here*/

body {
    margin: 0;
    width: 100%;
    background-color: azure;
    font-family: 'Bree Serif', 'sans-serif';
}

.top-part {
    width: 1350px;
    background-color: cadetblue;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

#login-button {
    background-color: crimson;
    font-size: 20px;
    position: relative;
    color: bisque;
    width: 85px;
    margin-right: 50px;
    padding: 6px;
    left: 1100px;
    margin-top: 30px;
}

a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    background-color: crimson;
    padding: 6px;
}

.top-banner {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: center;
}

.left {
    width: 540px;
    margin-left: 140px;
    transition: transform 1s linear .5s;
}

.right {
    width: 540px;
    margin-right: 120px;
}

.left h1 {
    font-size: 40px;
    top: 50px;
}

.right img {
    width: 500px;
    position: relative;
    top: -30px;
    transition: transform 1s linear .5s;
}


/* *****************
animation of the top header part starts here
*********************** */

.top-part:hover .right img {
    transform: translateX(-80px);
}

.top-part:hover .left {
    transform: translateX(100px);
}


/* animation of the top header part ends here */

main {
    margin: 0;
}


/* middle part code of main tag starts here */

.middle-part {
    width: 1000px;
    background-color: inherit;
    margin: 70px 180px 120px 20px;
}

.players {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
}

.player {
    display: flex;
    width: 310px;
    background-color: white;
    padding: 15px;
    height: 450px;
    flex-direction: column;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 5px darkolivegreen;
}

.player img {
    width: 300px;
    height: 210px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.player .description h1,
.player .description p {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    margin-top: 2px;
}

.player .description p {
    padding-bottom: 25px;
}


/* top of the main portion ends here */


/* bottom of the main portion starts here */

.bottom-part {
    margin: 120px auto 120px auto;
    width: 1120px;
}

.bottom {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    margin-left: 50px;
    flex-direction: row;
    background-color: inherit;
}

.left-container {
    width: 420px;
    border: 2px solid teal;
    box-shadow: 0 0 5px 5px teal;
    margin-right: 50px;
    background-color: white;
}

.left-container h1 {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: -8px;
}

.players-rank {
    display: flex;
    width: 440px;
    flex-direction: column;
    padding: 15px;
}

.player-rank {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.player-rank img {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    margin-right: 20px;
}

.player-rank .score {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.score .rank {
    margin-left: 10px;
    background-color: teal;
    color: azure;
    border-radius: 24px;
    padding: 5px;
}

.player-rank .score p {
    font-size: 15px;
    margin-top: -15px;
    font-weight: bolder;
}

.right-container {
    border: 2px solid teal;
    box-shadow: 0 0 5px 5px teal;
    width: 560px;
    padding: 0 20px 20px 20px;
    background-color: white;
}

.right-container h1 {
    font-size: 30px;
}

.about-info h2 {
    font-size: 20px;
}

.about-info ul {
    position: relative;
    left: 40px;
}


/*
bottom of main portion ends here */


/*
footer style starts here */

.footer-part {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 0 0 450px;
}

.footer-part img {
    height: 90px;
    width: 460px;
}

.footer-part i {
    font-size: 30px;
    padding: 8px;
    margin-top: -6px;
}

.footer-part p {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -6px;
}


/* footer style ends here */


/* media query for pc or desktop ends here*/


/* media query for tablet starts from here */

@media only screen and (min-width: 641px) and (max-width:1000px) {
    body {
        width: 90%;
        margin: 0;
    }
    /*  header part */
    .top-part {
        width: 950px;
        background-color: cadetblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 50px 0 50px;
    }
    #login-button {
        background-color: crimson;
        font-size: 10px;
        position: relative;
        color: bisque;
        width: 95px;
        padding: 6px;
        left: 700px;
        margin-top: 30px;
    }
    .top-banner {
        display: flex;
        margin: 60px auto 30px auto;
        justify-content: space-between;
    }
    .left {
        width: 400px;
        margin-left: 50px;
        transition: transform 1s linear .5s;
        margin-right: 80px;
    }
    .right {
        width: 400px;
        margin-right: 50px;
    }
    .right img {
        width: 400px;
        position: relative;
        top: -30px;
        transition: transform 1s linear .5s;
    }
    .top-part:hover .right img {
        transform: translateX(-80px);
    }
    .top-part:hover .left {
        transform: translateX(100px);
    }
    /* header styling ends here */
    /*  main tag styling starts from here */
    /************ players' leader board styling starts from here
    ***************** */
    .middle-part {
        width: 780px;
        background-color: inherit;
        margin: 70px -50px auto 150px;
    }
    .players {
        width: 750px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 5px;
        padding: 30px;
    }
    .player {
        display: flex;
        width: 300px;
        background-color: white;
        padding: 20px;
        height: 420px;
        flex-direction: column;
        border: 1px solid gray;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px 5px darkolivegreen;
    }
    .player img {
        width: 300px;
        height: 200px;
        margin-top: 40px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 15px;
        border: 1px solid black;
    }
    /* players' leader board of main tag ends here */
    /*
    bottom style of the main tag starts from here */
    .bottom-part {
        margin: 120px auto 120px auto;
        width: 1000px;
    }
    .bottom {
        justify-content: space-evenly;
        display: flex;
        padding: 20px;
        margin-left: 50px;
        flex-direction: row;
        background-color: inherit;
    }
    .left-container {
        width: 400px;
        border: 2px solid teal;
        box-shadow: 0 0 5px 5px teal;
        margin-right: 50px;
        background-color: white;
    }
    .left-container h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .score h2,
    .score .rank {
        font-size: 20px;
    }
    .right-container {
        border: 2px solid teal;
        box-shadow: 0 0 5px 5px teal;
        width: 520px;
        padding: 0 20px 20px 20px;
        background-color: white;
    }
    .right-container h1 {
        font-size: 25px;
    }
    /*  footer style starts from here */
    .footer-part {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 120px 0 0 300px;
    }
}


/* media query for tablet device ends here */


/* media query for android mobile starts from here */

@media only screen and (max-width:640px) {
    body {
        width: 100%;
        margin: 0;
    }
    /* header styling */
    .top-part {
        max-width: 500px;
        width: 380px;
        background-color: cadetblue;
        display: flex;
        position: relative;
        left: 280px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    #login-button {
        background-color: crimson;
        font-size: 12px;
        position: relative;
        color: bisque;
        width: 95px;
        padding: 6px;
        left: 120px;
        margin-top: 5px;
    }
    .top-banner {
        display: flex;
        margin-top: 5px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 61px;
        margin-left: auto;
        margin-right: auto;
    }
    .left {
        width: 280px;
        transition: transform 1s linear .5s;
        height: 140px;
        margin-bottom: 150px;
        position: relative;
        right: 170px;
    }
    .right {
        width: 350px;
        position: relative;
        right: 60px;
        height: 260px;
        margin-top: 100px;
    }
    .right img {
        margin-top: 30px;
        width: 340px;
        position: relative;
        left: 100px;
        transition: transform 1s linear .5s;
    }
    .top-part:hover .right img {
        transform: translateX(-50px);
    }
    .top-part:hover .left {
        transform: translateX(80px);
    }
    /* header styling ends */
    /* main tag styling starts */
    .middle-part {
        width: 400px;
        background-color: inherit;
        margin: 70px -100px auto 310px;
    }
    .players {
        width: 370px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 5px;
        padding: 20px;
    }
    .player {
        display: flex;
        width: 330px;
        background-color: white;
        padding: 20px;
        height: 450px;
        flex-direction: column;
        border: 1px solid gray;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px 5px darkolivegreen;
    }
    .player img {
        width: 310px;
        height: 200px;
        margin-top: 15px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 15px;
        border: 1px solid black;
    }
}