body {
    margin: 0;
    width: 100%;
    background-color: azure;
}

.top-part {
    width: 1350px;
    background-color: cadetblue;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

#login-button {
    background-color: crimson;
    font-size: 20px;
    position: relative;
    color: bisque;
    width: 85px;
    margin-right: 50px;
    padding: 6px;
    left: 1100px;
    margin-top: 30px;
}

a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    background-color: crimson;
    padding: 6px;
}

.top-banner {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: center;
}

.left {
    width: 540px;
    margin-left: 140px;
    transition: transform 1s linear .5s;
}

.right {
    width: 540px;
    margin-right: 120px;
}

.left h1 {
    font-size: 40px;
    top: 50px;
}

.right img {
    width: 500px;
    position: relative;
    top: -30px;
    transition: transform 1s linear .5s;
}


/* *****************
animation of the top header part starts here
*********************** */

.top-part:hover .right img {
    transform: translateX(-80px);
}

.top-part:hover .left {
    transform: translateX(100px);
}


/* animation of the top header part ends here */

main {
    margin: 0;
}


/* middle part code / the code of the top part of main starts here */

.middle-part {
    width: 1000px;
    /* margin-bottom: 120px; */
    background-color: inherit;
    /* margin-top: 70px; */
    margin: 70px 180px 120px 20px;
    /* margin-right: 200px; */
}

.players {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
}

.player {
    display: flex;
    width: 320px;
    background-color: white;
    padding: 15px;
    height: 410px;
    flex-direction: column;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 5px darkolivegreen;
}

.player img {
    width: 300px;
    height: 210px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.player .description h1,
.player .description p {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    margin-top: -2px;
}

.player .description p {
    padding-bottom: 15px;
}


/* top of the main portion ends here */


/* bottom of the main portion starts here */

.bottom-part {
    margin: 120px auto 120px auto;
    width: 1120px;
}

.bottom {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    margin-left: 50px;
    flex-direction: row;
    background-color: white;
}

.left-container {
    width: 420px;
    border: 2px solid teal;
    box-shadow: 0 0 5px 5px teal;
    margin-right: 50px;
}

.left-container h1 {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: -8px;
}

.players-rank {
    display: flex;
    width: 440px;
    flex-direction: column;
    padding: 15px;
}

.player-rank {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.player-rank img {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    margin-right: 20px;
}

.player-rank .score {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.score .rank {
    margin-left: 10px;
    background-color: teal;
    color: azure;
    border-radius: 24px;
    padding: 5px;
}

.player-rank .score p {
    font-size: 15px;
    margin-top: -15px;
    font-weight: bolder;
}

.right-container {
    border: 2px solid teal;
    box-shadow: 0 0 5px 5px teal;
    width: 560px;
    padding: 0 20px 20px 20px;
}

.right-container h1 {
    font-size: 30px;
}

.about-info h2 {
    font-size: 20px;
}

.about-info ul {
    position: relative;
    left: 40px;
}


/*
bottom of main portion ends here */


/*
footer style starts here */

.footer-part {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 0 0 450px;
}

.footer-part img {
    height: 90px;
    width: 460px;
}

.footer-part i {
    font-size: 30px;
    padding: 8px;
    margin-top: -6px;
}

.footer-part p {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -6px;
}


/* footer style ends here */